<br>
<br>

<div>
    <h6 ng-show="share.show1" style="color: #ff064a; font-size: 32px; text-align: center"><strong>Please Login First</strong></h6>
    <div class="small-5 small-push-1 columns">
        <canvas id="pie" class="chart chart-pie"
                chart-data="data" chart-labels="labels" chart-options="options">
        </canvas>
    </div>
    <div class="small-5 small-pull-1  columns">
        <canvas id="polar-area" class="chart chart-polar-area"
                chart-data="data" chart-labels="labels" chart-options="options">
        </canvas>
    </div>
</div>
<br>
<br>

